config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling git:
        commands:
        - /usr/bin/env sh .sqa/script.shabby-saffron-affenpinscher.sh
        container: qc.acc_gummy-smalt-cuttlefish
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-purple-chimpanzee.sh
        container: qc.doc_pretty-burgundy-woodlouse
      github.com/EOSC-synergy/sqaaas-tooling git:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-amaranth-ant.sh
        container: qc.doc_freaky-smalt-leopard
      github.com/EOSC-synergy/sqaaas-tooling markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-saffron-boar.sh
        container: qc.doc_squeaky-xanthic-vole
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling licensee:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-chocolate-dog.sh
        container: qc.lic_pretty-mustard-barb
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling bandit:
        commands:
        - /usr/bin/env sh .sqa/script.wiggy-pear-hedgehog.sh
        container: qc.sec_cranky-corn-budgerigar
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-peach-meerkat.sh
        container: qc.sty_wheezy-wheat-lionfish
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling pytest:
        commands:
        - /usr/bin/env sh .sqa/script.snappy-mauve-turkey.sh
        container: qc.uni_wiggy-amethyst-sponge
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-lime-grasshopper.sh
        container: qc.ver_sleepy-tomato-sloth
timeout: 5400
