config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling git:
        commands:
        - /usr/bin/env sh .sqa/script.slimy-persimmon-octopus.sh
        container: qc.acc_craggy-platinum-tang
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-teal-hummingbird.sh
        container: qc.doc_slaphappy-magnolia-barb
      github.com/EOSC-synergy/sqaaas-tooling git:
        commands:
        - /usr/bin/env sh .sqa/script.snippy-fuchsia-manatee.sh
        container: qc.doc_snazzy-chartreuse-vole
      github.com/EOSC-synergy/sqaaas-tooling markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-alizarin-coati.sh
        container: qc.doc_skanky-orchid-falcon
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling licensee:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-teal-schnauzer.sh
        container: qc.lic_randy-buff-chow
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling bandit:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-plum-cattle.sh
        container: qc.sec_stealthy-eggplant-audemer
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-cornflower-setter.sh
        container: qc.sty_cranky-auburn-swan
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling pytest:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-champagne-sparrow.sh
        container: qc.uni_stealthy-cream-koala
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-burgundy-chinchilla.sh
        container: qc.ver_trippy-alizarin-gerbil
timeout: 5400
