config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling git:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-jade-tuatara.sh
        container: qc.acc_gloppy-cerulean-uguisu
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.stinky-mauve-skunk.sh
        container: qc.doc_flimsy-firebrick-husky
      github.com/EOSC-synergy/sqaaas-tooling git:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-brass-flamingo.sh
        container: qc.doc_sloppy-eggplant-sponge
      github.com/EOSC-synergy/sqaaas-tooling markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-brass-bobcat.sh
        container: qc.doc_lumpy-cyan-bee
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling licensee:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-crimson-mist.sh
        container: qc.lic_shabby-vermilion-fox
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling bandit:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-mustard-frog.sh
        container: qc.sec_slaphappy-periwinkle-zebra
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-corn-badger.sh
        container: qc.sty_blurry-teal-ant
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling pytest:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-tangerine-havanese.sh
        container: qc.uni_crappy-cerulean-dachsbracke
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-tooling get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-gold-macaque.sh
        container: qc.ver_homey-malachite-ferret
timeout: 5400
